<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Description</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/d_style.css">
</head>

<body>
    <nav>
        <a href="/">
            <div style="text-align: center;">Cook Book</div>
        </a>
    </nav>
    <u>
        <h1 style="color: rgb(209, 12, 62);">
            <%=passing.title%>
        </h1>
    </u>
    <% for (let e of passing.steps) { %>
        <h3>
            <%=e.step%>
        </h3>
        <% } %>
            <script src="/detail.js"></script>
</body>

</html>